/* Change text color */
body {
  --base-background-color: #2C3E50; /* Darken background slightly for readability */
}

.markdown .blockquote p, .markdown img, .code h1, .title, .heading *, .note {
  color: white;
}

/* Other styles for specific elements */

.container {
  max-width: 80rem;
  margin: auto;
  padding: 4px;
}

h1 {
  font-family: monospace;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

img {
  border: none;
  height: auto;
  width: 66%;
}

p {
  line-height: 1.5;
}

ol {
  counter-reset: item;
}

li:before {
  content: counters(item, ".") " ";
}